<!DOCTYPE html>
<html>
  <head>

  </head>
  <!-- <body> -->
    <div class="navbar1">
      <a [routerLink]="['/home']"><img id="logo" alt="Logo for Vote Vault" src="assets/votevault transparent logo.png"></a>
      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
      <a [routerLink]="['/results']" routerLinkActive="active">Results</a>
      <a [routerLink]="['/howto']" routerLinkActive="active">How To</a>
      <a class="active" [routerLink]="['/history']" routerLinkActive="active">History</a>
    </div>

    <div class="rest">

      <div class="col text-center" style="margin-top:2rem; margin-bottom: 4rem;">
        <h2>Past Election History Results</h2>
        <h6>Here you can view past elections that have taken place should you wish to know the results</h6>
      </div>

      <div class="col text-center" style="margin-top: 2rem; margin-bottom: 1rem;">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="electionhistoryButton" ngbDropdownToggle style="color: #f4717f; border: 1px solid #f4717f">Select Election</button>
          <div ngbDropdownMenu aria-labelledby="electionhistoryDropdown">
            <button (click) = "selectElection(e)" ngbDropdownItem *ngFor="let e of previousElections">{{e.electionName}}</button>
          </div>
        </div>
      </div>

      <div *ngIf="div0">
        <h1 style="text-align: center; font-size: 200%; margin-top: 1rem;">Use the dropdown above to select a graph</h1>
      </div>

      <div id="b1">
        <div id="info1"><h2>{{electionName}} - {{ballotName1}} - Front Runner: {{winner1}}</h2></div>
        <chart class="ch" [type]="type" [data]="data" [options]="options"></chart>
      </div>
      <div id="b2">
        <div id="info3"><h2>{{electionName}} - {{ballotName2}} - Winner: {{winner2}}</h2></div>
        <chart class="ch" [type]="type1" [data]="data1" [options]="options1"></chart>
      </div>
      <div id="b3">
        <div id="info5"><h2>{{electionName}} - {{ballotName3}} - Winner: {{winner3}}</h2></div>
        <chart class="ch" [type]="type2" [data]="data2" [options]="options2"></chart>
      </div>

    </div>
  <!-- </body> -->


</html>
