<app-circle-top></app-circle-top>
<app-elections-header></app-elections-header>

<ion-content *ngIf="loaded">
 
  <ion-card (click)="electionClicked(e)" (click)="setIndex(i)" *ngFor="let e of elections; let i = index" id="election">
    <ion-card-header>
      <ion-card-title text-capitalize><ion-icon name="newspaper-outline"></ion-icon>{{e.electionName}}</ion-card-title>
      <ion-card-subtitle>#{{e.id}}</ion-card-subtitle>
      <ion-chip (click)="registerUser(e)">
        <ion-label><ion-icon name="person-add-outline"></ion-icon>Register User</ion-label>
      </ion-chip>
      <ion-chip (click)="presentDeleteAlert()">
        <ion-label><ion-icon name="person-add-outline"></ion-icon>Close</ion-label>
      </ion-chip>
    </ion-card-header>
  </ion-card>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="createElection()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="signOut()"><ion-icon name="log-out-outline"></ion-icon></ion-fab-button>
      <ion-fab-button color="primary" (click)="createElection()"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="signOut()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>

<ion-list *ngIf="!loaded">
  <ion-card>
    <div>
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </div>
  </ion-card>

  <ion-card>
    <div>
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </div>
  </ion-card>

  <ion-card>
    <div>
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </div>
  </ion-card>
</ion-list>