ion-card {
    ion-icon{
        padding-right : 1vw;
    }
    padding: 5vw;
    margin-bottom: 3vh;
    animation: move-up 0.5s;
}

#menuButton { 
    --background : transparent;
}

ion-card-title {
    color: black;
    font-size: 1.5em;
    margin-left: 5vw;
    padding-bottom: 1vw;
}

ion-card-subtitle{
    margin-left: 5vw;
    padding-bottom: 5vw;
}

ion-chip{
    --background: var(--ion-color-primary);
    color: white;
    margin-right: 5px;
    margin-left: 2vw;
}

@keyframes move-up {
    /* You could think of as "step 1" */
    0% {
      margin-top: 200px;
      opacity: 0;
    }
    /* You could think of as "step 2" */
    100% {
      margin-top: 0px;
      opacity: 1;
    }
}