ion-card {
    ion-icon{
        padding-right : 2vh;
    }
}

#menuButton { 
    --background : transparent;
}

ion-card-title {
    color: black;
    font-size: 1.5em;
}

ion-chip{
    --background: var(--ion-color-primary);
    color: white;
    margin-right: 5px;
}
