#info1 {
  border: 5px solid black;
  border-radius: 15px;
  margin: 10px;
  position: fixed;
  width: 94%;
  height: 10%;
  top: 140px;
  left: 2%;
}

#info2 {
  border: 5px solid black;
  border-radius: 15px;
  margin: 10px;
  position: fixed;
  top: 32%;
  left: 2%;
  width: 94%;
  height: 48%;
}
