
body {
  height: fit-content;
}

#b1 {
  margin: 4%;
  height: 50%;
  /* margin-bottom: 7%; */
}

#b2 {
  margin: 4%;
  height: 50%;
  /* margin-bottom: 7%; */
}

#b3 {
  margin: 4%;
  height: 50%;
  /* margin-bottom: 10%; */
}

.ch {
  height: 20rem;
}

.navbar1 {
  font-size: 1.5rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #f4717f; 
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 40vw;
  top: 30vh;
  z-index: 101;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
}

#welcome{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 17rem;
  color: #e9e3e3; 
}
