#title {
    width: max-content;
    padding: 0;
    margin-left: 15%;
}

ion-card{
    margin-top: 15%;
    padding: 4vh;
    height: 40%;
}

ion-input {
    --background: var(--ion-color-light-tint);
}

ion-button {
    margin-left: 22%;
    width: 56%;
    height: 20%;
    font-size: 1em;
    margin-top: 20%;
}

.adminLogin{
    font-size: 0.8em;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

#header {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    padding-top: 10%;
    font-size: 3em;
}