ion-content {
    height: 100vh;
}

ion-card{
    margin-top: 50%;
    padding: 5vh;
    height: 40%;
}

ion-input {
    --background: var(--ion-color-light-tint);
}
    
ion-button {
    width: 40%;
    margin-left: 30%;
}