<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <br>
      <br>
      <ion-card-subtitle>ID</ion-card-subtitle>
      <ion-input [(ngModel)]="email"></ion-input>
      <br>
      <ion-card-subtitle>Password</ion-card-subtitle>
      <ion-input [(ngModel)]="password"></ion-input>
    </ion-card-header>
  </ion-card>
  <ion-button size = "medium" (click)="navigate()">Login</ion-button>
  <br>
  <br>
  <ion-button (click)="adminLogin()" class="adminLogin" color="transparent">Admin Login</ion-button>
</ion-content>