<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Voter Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="ion-text-center ion-padding">
  <ion-card-header>
      <ion-card-title>
        Voter Details
      </ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-label>First Name:</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Last Name:</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>ID Number:</ion-label>
  </ion-item>

  <ion-item class="ion-text-center">
    <ion-label>Scan ID:</ion-label>
  </ion-item>
</ion-card>