.page-title {
    text-align: center;
}

ion-card-title {
    text-decoration: underline;
}

ion-page {
    justify-content: normal;
}

.voter-details {
    text-align: center;
}

.ID-scan {
    text-align: center;
}