<ion-header>
  <ion-toolbar class="page-title">
    <ion-title>Voter Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="voter-details">
  <ion-card-header>
      <ion-card-title>
        Voter Details
      </ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-label>First Name:</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Last Name:</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>ID Number:</ion-label>
  </ion-item>

  <ion-item class="ID-scan">
    <ion-label>Scan ID:</ion-label>
  </ion-item>
</ion-card>