ion-content { 
    height : 100%;
}

#header { 
    font-size : 3vh;
    padding: 2vh;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

#ballotNameBtn {
    margin-top: 5vh;
    width:      40%;
    margin-bottom: 8vh;
}

#addItem {
    padding: 1vh;
    margin:auto;
    width: 80%;
    // --background: transparent;
}

ion-slide {
    display: inline;
}

ion-card {
    padding: 2vh;
    margin-bottom: 10vh;
}
ion-button {
    width:30%;
    margin-top: 2vh;
}

ion-item {
    --background: transparent !important;
    --background-color: transparent;
}

ion-label {
    --color: transparent;
}

#genBtn {
    width: 80%;
    // position: fixed;
    bottom: 2vh;
}

#finalSlide {
    margin: auto;
}