ion-content { 
    height : 100%;
}

#header { 
    font-size : 3vh;
    padding: 2vh;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

#ballotNameBtn {
    margin-top: 5vh;
    width:      40%;
    margin-bottom: 8vh;
}

#addItem {
    padding: 1vh;
    margin:auto;
    width: 80%;
    // --background: transparent;
}

ion-slide {
    display: inline;
}

ion-card {
    padding: 2vh;
    margin-bottom: 10vh;
}
ion-button {
    width:30%;
    margin-top: 2vh;
}

ion-item {
    --background: transparent !important;
    --background-color: transparent;
}

ion-label {
    --color: transparent;
}

#genBtn {
    width: 80%;
    // position: fixed;
    bottom: 2vh;
}

#finalSlide {
    margin: auto;
}

.swiper-pagination {
    position: fixed;
    bottom: 0px;
    padding-bottom: 3px;
}

#menuButton { 
    // --background : transparent;
    width: auto;
}

#titleInput {
    display : flex;
    width: 100%;
    justify-content: space-between;
    
}

.itemIcon {
    position: absolute;
    right: 0;
    bottom: 1vh;
}

ion-label{
    font-weight: bold;
    margin-left: 7vw;
}

#title-div{
    padding-top: 10px;
}

input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    font-size: 0.8em;
    height: 2.5em;
    border: none;
    width: 90%;
    margin-left: 5vw;
    margin-bottom: 10%;
    border-radius: 25px;
    margin-top: 5px;
    background-color: var(--ion-color-fade);
    padding-left: 5%;
}
#electionTitle{
    margin-right: 5vw;
}