#addItem {
    padding: 4vh;
    margin:auto;
    width: 50%;
}

ion-button {
    width: 20%;
    margin-left: 40%;
}

ion-list {
    margin-top: 6vh;
}

#genBtn {
    width: 80%;
    margin-left: 10%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}