<ion-content>
  <h1 id="header">Admin Login</h1>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-title>Login</ion-card-title> -->
      <br>
      <br>
      <ion-card-subtitle>Email</ion-card-subtitle>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
      <br>
      <ion-card-subtitle>Password</ion-card-subtitle>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-card-header>

    <ion-button expand="full" (click)="navigate()">Login</ion-button>
    <br>
    <br>
    <ion-button (click)="userLogin()" class="userLogin" color="transparent">User View</ion-button>
  </ion-card>
</ion-content>
