h5 {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    color: white;
    text-align: center;
    margin-bottom: 10%;
}

#header {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    padding-top: 10%;
    font-size: 3em;
}

p {
    font-size: 0.7em;
    position: absolute;
    bottom: 17%;
    width: 30%;
    margin-left : 35%;
    text-align: center;
    color: var(--ion-color-fade);
}

#view-elections{
    font-size: 0.8em;
    position: absolute;
    bottom: 10%;
    width: 30%;
    margin-left : 35%;
    text-align: center;
    color: var(--ion-color-primary);
    font-weight: bold;
}

ion-button {
    font-size: 0.8em;
    position: absolute;
    bottom: 24%;
    width: 40%;
    margin-left : 30%;
    --border-radius: 25px;
}

#inputs {
    position: absolute;
    bottom: 30%;
    width: 100%;
}

ion-label{
    margin-left: 20%;
    color: black;
    font-weight: bold;
    font-size: 0.7em;
}

input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    font-size: 0.8em;
    height: 2.5em;
    border: none;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10%;
    border-radius: 25px;
    margin-top: 5px;
    background-color: var(--ion-color-fade);
    padding-left: 5%;

}