<ion-header>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <br>
      <br>
      <ion-card-subtitle>Email</ion-card-subtitle>
      <ion-input [(ngModel)]="email"></ion-input>
      <br>
      <ion-card-subtitle>Password</ion-card-subtitle>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-card-header>
  </ion-card>
  <ion-button size = "medium" (click)="navigate()">Login</ion-button>
  <br>
  <br>
  <ion-button (click)="userLogin()" class="adminLogin" color="transparent">User Login</ion-button>
</ion-content>
