<body>
  <ion-header class="ion-margin-bottom">
    <ion-toolbar class="ion-text-center">
      <ion-button id = "menuButton" (click) = "openCustom()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
      <ion-title id="page-heading">Voter Registration</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="voter-Details ion-text-center ion-padding">
    <ion-card-header>
      <ion-card-title>
        Scan ID Card
      </ion-card-title>
    </ion-card-header>
    <ion-button expand="full" color="dark" (click)="scanBarcode()">Scan ID</ion-button>
    <div *ngIf="name">
      <p>
        Name(s): <b>{{ name }}</b>
      </p>
    </div>
    <div *ngIf="surname">
      <p>
        Surname: <b>{{ surname }}</b>
      </p>
    </div>
    <div *ngIf="gender">
      <p>
        Gender: <b>{{ gender }}</b>
      </p>
    </div>
    <div *ngIf="idNum">
      <p>
        ID Number: <b>{{ idNum }}</b>
      </p>
    </div>
    <ion-button id="regnowbutton" class="ion-margin-top" (click)="registerVoter()" style="display: none;">
        Register Now
    </ion-button>
  </ion-card>
</body>
