<ion-content>
  <app-circle-top></app-circle-top>
  <h1 id="header">Register User</h1>

  <ion-card class="voter-Details ion-text-center ion-padding">
    <ion-card-header>
      <ion-card-title>
        Scan ID Card
      </ion-card-title>
    </ion-card-header>
    <ion-button color="primary" (click)="scanBarcode()">Scan ID</ion-button>
    <div *ngIf="name">
      <p>
        Name(s): <b>{{ name }}</b>
      </p>
    </div>
    <div *ngIf="surname">
      <p>
        Surname: <b>{{ surname }}</b>
      </p>
    </div>
    <div *ngIf="gender">
      <p>
        Gender: <b>{{ gender }}</b>
      </p>
    </div>
    <div *ngIf="idNum">
      <p>
        ID Number: <b>{{ idNum }}</b>
      </p>
    </div>
    <ion-button id="regnowbutton" class="ion-margin-top" (click)="registerVoter()" style="display: none;">
        Register Now
    </ion-button>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="primary" (click)="back()"><ion-icon name="log-out-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
