#info1 {
<<<<<<< HEAD
=======
  /* //border: 5px solid black; */
>>>>>>> 50bddc4505180b6a0b2ae8da4eaa3e1d5a185c3f
  border-radius: 15px;
  margin: 10px;
  position: fixed;
  width: 45%;
  height: 28%;
  top: 150px;
  left: 2%;
  text-align: center;
  padding-top: 3%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#info2 {
<<<<<<< HEAD
  /*border: 5px solid black;*/
=======
  /* border: 5px solid black; */
>>>>>>> 50bddc4505180b6a0b2ae8da4eaa3e1d5a185c3f
  border-radius: 15px;
  margin: 10px;
  position: fixed;
  top: 35%;
  left: 2%;
  width: 45%;
  height: 28%;
  text-align: center;
  overflow-y: scroll;
  text-overflow: ellipsis;
}

#info3 {
  border-radius: 15px;
  /* border: 5px solid black; */
  margin: 10px;
  position: fixed;
  top: 150px;
  width: 45%;
  height: 59.5%;
  left: 50%;
}

#text2{
  text-align: justify;
  position: absolute;
  padding: 2% 2% 2% 2%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#appInstall{
  padding-top: 50%;
}
