<!DOCTYPE html>
<html>
  <head>

  </head>
  <header>
    <img id="logo" alt="Logo for Vote Vault" src="fortuna.jpeg">
  </header>
  <body>
      <div class="navbar">
        <a class="active" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
        <a [routerLink]="['/results']" routerLinkActive="active">Results</a>
        <a [routerLink]="['/howto']" routerLinkActive="active">How To</a>
        <a [routerLink]="['/history']" routerLinkActive="active">History</a>
      </div>
      <div id="info1">
        <h1>Welcome to Vote Vault</h1>
        Your personal automated and secure voting system
      </div>
      <div id="info2">
        This system automates a voting process for your needs, while also making sure the votes are valid and secure.
        Blockchain and Smart Contracts will be used to save and verify user votes.
        The system will be available to users on the web or in the form of a mobile application.
        The votes to be made will be verified by scanning voter IDs, then users will be allowed to vote.
        Votes will be verified and counted using the blockchain. Users will be able to see progress on the voting system via this website.
        Instead of hard coding your forms for elections, they will be dynamically generated according to input provided by the voting official.
        View the various dashboards that provide additional information about the voting process, such as distributions about the users etc.
      </div>
      <div id="info3"></div>
  </body>
  <footer>

    Vote Vault voting software
    <br>
    <br>
    Product of SSDpressed
    <br>
    <br>
    University of Pretoria
  </footer>
</html>
