
body {
  height: fit-content;
}

#div-1{
  width: 100%;
  display: table;
  align-content: center;
}

#welcome{
  text-align: center;
  padding-top: 3.125rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 8%;
  color: #dad8d9; 
}

#linkImage{
  width: 18.75rem;
  align-self:center;
  margin-bottom: 3.125rem;
}

.banner{
  width : 100vw;
  height: 25rem;
  position: absolute;
  z-index: -1;
}

#banner-text2{
  text-align: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  color: #dad8d9; 
}