<ion-content id = "main">
  <h1 id="header">Vote</h1>
  <app-circle-top></app-circle-top>
  <!-- <ion-button id = "menuButton" (click) = "openCustom()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
  <ion-slides #slides pager="true" mode="ios" (ionSlideDidChange)="ionSlidesDidLoad(slides)">
    <ion-slide>
      <ion-card>
        <ion-card-title>{{ballot1.name}}</ion-card-title>
          <ion-item *ngFor="let o of ballot1.options; let b1 = index" (click)="selectCandidate(o)" (click)="ballot1Index(b1)">
            <ion-label>{{o.surname}}, {{o.name}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="o.isChecked"></ion-checkbox>
          </ion-item>

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-title>{{ballot2.name}}</ion-card-title>
          <ion-item *ngFor="let o of ballot2.options; let b2 = index" (click)="ballot2Index(b2)" (click)="selectCandidate(o)">
            <ion-label>{{o.surname}}, {{o.name}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="o.isChecked"></ion-checkbox>
          </ion-item>

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-title>{{ballot3.name}}</ion-card-title>
          <ion-item *ngFor="let o of ballot3.options; let b3 = index" (click)="ballot2Index(b3)" (click)="selectCandidate(o)">
            <ion-label>{{o.surname}}, {{o.name}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="o.isChecked"></ion-checkbox>
          </ion-item>

      </ion-card>
    </ion-slide>

    <ion-slide>
      <p>You are about to submit your votes.</p>
      <ion-button id="vote" (click)="vote()">
        Submit Votes
      </ion-button>
    </ion-slide>

  </ion-slides>


</ion-content>
