ion-item {
    --background: transparent !important;
    --background-color: transparent;
    width: 90%;
}

ion-label {
    --color: transparent;
    width: 100%;
}

ion-card { 
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
    width: 90%;
}

ion-slides {
    height: 60%;
}

#vote {
    width: 80%;
    position: fixed;
    bottom: 4vh;
}

#menuButton { 
    --background : transparent;
}

#header {
    height: 10%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 3em;
    padding-top: 5%;
    color: white;
}