ion-item {
    --background: transparent !important;
    --background-color: transparent;
}

ion-label {
    --color: transparent;
}

ion-card { 
    padding: 2vh;
    margin-bottom: 10vh;
    Padding: 10vh;
}

ion-slides {
    height: 90%;
}

#vote {
    width: 80%;
    position: fixed;
    bottom: 4vh;
}
