body {
  height:fit-content;
}

#welcome{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 17%;
  color: #e9e3e3;
  font-weight: bold; 
}


#banner{
  width : 100vw;
  height: 20rem;
  position: absolute;
  z-index: -1;
}



@media only screen and (max-width: 900px) {
  #context > h3 {
    margin-left: 30%;
  }

  #context > div > p {
    width: 100%;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 768px) {
  #context > h3 {
    margin-left: 25%;
  }

  #context > div > p {
    width: 100%;
    margin-left: 25%;
  }
}

@media only screen and (max-width: 600px) {
  #context {
    width: 100%;
    padding-right: 0;
    margin-left: 10%;
  }

  #context > h3 {
    margin: 0;
  }

  #context > div > p {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
