<ion-content id="main">
  <h1 id="header">Elections</h1>
    <ion-card (click)="electionClicked(e)" *ngFor="let e of elections" id="election">
      <ion-card-header>
        <ion-card-title>{{e.electionName}}</ion-card-title>
        <br>
      </ion-card-header>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="signOut()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
