/* You can add global styles to this file, and also import other style files */
html {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: rgb(58, 103, 228);
  padding-top: 1%;
  text-align: center;
  color: white;
}

body {
  background-color: #e9e3e3; 
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #e9e3e3;
  width: 100%;
  margin: 0px;
  height: 20%;
  border: 0px;
  text-align: center;
  position: relative;
  color: black;
  border-top: 100px;
}

#ftrr {
  background-color: #f4717f;
  width: 100%;
  margin: 0px;
  height: 8%;
  border: 0px;
  text-align: center;
  color: black;
  position: sticky;
  border-top: 100px;
  padding: 10px;
  text-align: center;
  color: white;
}

.navbar1 {
  background-color: #544e50;
  overflow: hidden;
  position: sticky;
  top: 0%;
  z-index: 1;
  display: table;
  width: 100vw;
}

#logo {
  height: 2rem;
}

.navbar1 a:hover {
  background-color: rgb(84, 123, 250);
  color: black;
}

.navbar1 a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 17px;
}

a.active {
  background-color: #3c84cc;
  color: #fff;
}

input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 22px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 5px;
}

/* #logo {
  position: relative;
  top: 15%;
  height: 10%;
} */
