/* You can add global styles to this file, and also import other style files */
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: rgb(50, 87, 255);
  width: 100%;
  margin: 0px;
  height: 60px;
  border: 0px;
  text-align: center;
  position: relative;
  color: black;
  border-top: 100px;
}

footer {
  background-color: rgb(50, 87, 255);
  width: 100%;
  margin: 0px;
  height: 90px;
  border: 0px;
  text-align: center;
  position: relative;
  color: black;
  border-top: 100px;
  position: fixed;
  bottom: 0px;
    padding: 10px;
    text-align: center;
    color: white;
}

.navbar {
  background-color: rgb(50, 87, 255);
  overflow: hidden;
}

.navbar a:hover {
  background-color: rgb(84, 123, 250);
  color: black;
}

.navbar a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a.active {
  background-color: aliceblue;
}
