<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="navbar1">
      <a [routerLink]="['/home']"><img id="logo" alt="Logo for Vote Vault" src="assets/votevault transparent logo.png"></a>
      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a class="active" [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
      <a [routerLink]="['/results']" routerLinkActive="active">Results</a>
      <a [routerLink]="['/howto']" routerLinkActive="active">How To</a>
      <a [routerLink]="['/history']" routerLinkActive="active">History</a>
    </div>

    <div class="rest">
      
      <div>
        <img src="assets/images/analytics-banner.jpg" class="banner" style="width:100%">

        <div class="col text-center" style="margin-top:2rem; margin-bottom: 2rem;">
          <h2>Current Election Analytics</h2>
          <h6>Here you can view live demographics affected by the current elections as a whole</h6>
        </div>
      </div>
      <!-- <img src="assets/images/analytics-banner.jpg" class="banner" style="width:100%">

      <div class="col text-center" style="margin-top:2rem; margin-bottom: 4rem;">
        <h2>Current Election Analytics</h2>
        <h6>Here you can view live demographics affected by the current elections as a whole</h6>
      </div> -->

      <div class="col text-center" style="margin-top: 2rem; margin-bottom: 3rem;">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="demographicsButton" ngbDropdownToggle style="color: #f4717f; border: 1px solid #f4717f">Select Election</button>
          <div ngbDropdownMenu aria-labelledby="demographicsDropdown">
            <button *ngFor="let e of elections;" (click) = "selectElection(e)" ngbDropdownItem>{{e.electionName}}</button>
            
          </div>
        </div>
      </div>

      <div *ngIf="div0">
        <h1 style="text-align: center; font-size: 200%; margin-top: 1rem;">Use the dropdown below to select a graph</h1>
      </div>

      <div *ngIf="div1">
        <chart id="gD" [type]="type" [data]="data" [options]="options"></chart>
      </div>
      <div *ngIf="div2">
        <chart id="gD" [type]="type1" [data]="data1" [options]="options1"></chart>
      </div>
      <div *ngIf="div3">
        <chart id="gD" [type]="type2" [data]="data2" [options]="options2"></chart>
      </div>

      <div class="col text-center" style="margin-top: 2rem; margin-bottom: 1rem;">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="demographicsButton" ngbDropdownToggle style="color: #f4717f; border: 1px solid #f4717f">View Demographics</button>
          <div ngbDropdownMenu aria-labelledby="demographicsDropdown">
            <button ngbDropdownItem (click)="showGenderInfo()">Gender Information</button>
            <button ngbDropdownItem (click)="showProvinceInfo()">Provinces Information</button>
            <button ngbDropdownItem (click)="showAgeInfo()">Age Information</button>
          </div>
        </div>
      </div>

    </div>

    <br/>
    <br/>
    <br/>

  </body>

</html>
