td{
    width : 33%;
    border-radius: 7px;
}

#gD {
  height: 55%;
}

body {
  height:fit-content;
}

#welcome{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 17%;
  color: #e9e3e3; 
}


