<!DOCTYPE html>
<html>
  <head>

  </head>
  <header>
    ANALYTICS
  </header>
  <body>
    <div class="navbar">
      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
      <a [routerLink]="['/results']" routerLinkActive="active">Results</a>
      <a [routerLink]="['/howto']" routerLinkActive="active">How To</a>
    </div>
    This s the body
  </body>
  <footer>
    This is the footer
  </footer>
</html>
