<!DOCTYPE html>
<html>
  <head>

  </head>
  <header>
    ANALYTICS
    <input type="text" placeholder="Search...">
  </header>
  <body>
    <table style="width: 100%; height: 500px;" cellpadding="5" cellspacing="5" border="2">
      <tbody>
      <tr>
      <td >Gender Distribution</td>
      <td >Location Distribution</td>
      <td >Age Distrbution</td>
      </tr>
      </tbody>
      </table>
    <div class="navbar">
      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
      <a [routerLink]="['/results']" routerLinkActive="active">Results</a>
      <a [routerLink]="['/howto']" routerLinkActive="active">How To</a>
    </div>
    This s the body
  </body>
  <footer>
    Vote Vault voting software
    <br>
    <br>
    Product of SSDpressed
    <br>
    <br>
    University of Pretoria
  </footer>
</html>
