td{
    width : 33%;
    border-radius: 7px;
}

footer {
    background-color: rgb(58, 103, 228);
    padding: 10px;
    text-align: center;
    color: white;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 13px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 5px;
}
  

