<!DOCTYPE html>
<html>
  <header>
    <img id="logo" alt="Logo for Vote Vault" src="fortuna.png">
    <input type="text" placeholder="Search...">
  </header>
  <body>
    <div class="navbar">
      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
      <a [routerLink]="['/results']" routerLinkActive="active">Results</a>
      <a class="active" [routerLink]="['/howto']" routerLinkActive="active">How To</a>
      <a [routerLink]="['/history']" routerLinkActive="active">History</a>
    </div>
    <div class="Title">How To Register:</div>
    <div class="Details"></div>
  </body>
  <footer>
    Vote Vault voting software
    <br>
    <br>
    Product of SSDpressed
    <br>
    <br>
    University of Pretoria
  </footer>
</html>
