.Title{
    font-size: xx-large;
    padding: 0.8rem;
    text-decoration-line: underline;
}

.Details {
  padding: 1rem;
  font-size: x-large;
}

body {
    height: fit-content;
}

#regDiv {
    padding: 1rem;
    padding-bottom: 0rem;
    justify-items: center;
}

#HowToVote {
    padding: 1rem;
}

.flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
}

.how-to-image {
    scale: 0.75;
}

.how-to-register-image, .how-to-vote-image {
    border-radius: 3%;
}

#voteDiv {
    margin-top: 3rem;
    justify-items: center;
}

hr {
    width: 80%;
    margin-left: 10%;
}

@media only screen and (max-width: 600px)  {
    
     #regDiv {
        display: flex;
        flex-direction: column;
    }

    .how-to-image {
        display: flex;
    } 

    #voteDiv {
        display: flex;
        flex-direction: column;
    }
    
    .how-to-image {
        display: flex;
    } 
}