<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="navbar1">
      <div id="borgir">
        <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
              <div class="main-content-wrapper">
              <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
              <a [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
              <a class="active" [routerLink]="['/results']" routerLinkActive="active">Results</a>
              <a [routerLink]="['/howto']" routerLinkActive="active">How To</a>
              <a [routerLink]="['/history']" routerLinkActive="active">History</a>
              <a [routerLink]="['/predictions']" routerLinkActive="active">Predictions</a>
              </div>
          </div>
        </div>
        <div id="links">
          <a [routerLink]="['/home']"><img id="logo" alt="Logo for Vote Vault" src="assets/votevault transparent logo.png"></a>
          <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
          <a [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
          <a class="active" [routerLink]="['/results']" routerLinkActive="active">Results</a>
          <a [routerLink]="['/howto']" routerLinkActive="active">How To</a>
          <a [routerLink]="['/history']" routerLinkActive="active">History</a>
          <a [routerLink]="['/predictions']" routerLinkActive="active">Predictions</a>
        </div>
    </div>

    <div class="rest">

      <div id="regDiv" class="flex-container">
        <div id="HowToReg">
          <div class="Title">How To Register:</div>
          <div class="Details">
            To register for an upcoming election you can do one of
            following two things:<br><br>
            1. Go to your local voting station and let a voting official
            register you.<br>
            2. Register yourself through the VoteVault app.<br><br>
            To register yourself you need to first download the VoteVault app. 
            Once downloaded and opened you will be presented with a list of elections. 
            Select the election you want to register for and click register. 
            This will prompt you to scan the barcode on the back of your ID. 
            After the scan is complete you can press the "Register Now" button.<br><br>

            The system will check to see if you are already registered for the selected election. If everything 
            is correct a message will pop up saying you have successfully been registered.
            <br><br>Now you just need to wait for the election day to be able to vote.
          </div>
        </div>
          <img src="../../assets/images/howto-register.png" class="how-to-register-content how-to-image">
      </div>

      <hr>

      <div class="flex-container" id="voteDiv">
        <div id="HowToVote">
          <div class="Title">How To Vote:</div>
          <div class="Details">
            When the day of the election has arrived you can either go
            to your local voting station or you can vote remotely from
            the VoteVault App.<br><br>

            To vote remotely you first need to have registered for the election
            as specified above. From the Elections page, select the election you want 
            to vote in and press "Vote". You will be asked to scan the barcode on the 
            back of your ID again to ensure you have registered for this election and 
            have not already voted. If everything checks out you will be taken to the voting page.<br><br>
            On the voting page you will be shown the first ballot of the election.
            Select the candidate you wish to vote for. If there are more than one
            ballots you will be taken to the next ballot where you will need to
            select the next candidate you wish to vote for.<br><br>

            After the last ballot you will get a prompt to submit your votes.
            After you press the button your votes will be cast and you will NOT be
            able to vote for that election again.
          </div>
        </div>
        <img src="../../assets/images/howto-vote.png" class="how-to-image">
      </div>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("links");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>

  </body>
</html>
