.Title{
  font-size: xx-large;
  padding: 0.8rem;
}

.Details {
  padding: 1rem;
  font-size: x-large;
}

#HowToReg {
  width: 30%;
  padding: 1rem;
}

#HowToVote {
  width: 30%;
  padding: 1rem;
  float: right;
}